/*basic*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  position: relative;
}
/* Menu */
.menu {
  background-color: #aeaeae;
  left: -28.5rem;
  /* прячем меню */
  height: 100%;
  position: fixed;
  width: 28.5rem;
}
.menu ul {
  border-top: 1px solid black;
}
.menu li {
  border-bottom: 1px solid black;
  line-height: 4.5rem;
  padding-bottom: 0.3rem;
  padding-left: 2rem;
  padding-top: 0.3rem;
}
.menu li:hover {
  cursor: pointer;
  background-color: #555;
}
.menu a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.icon-close {
  cursor: pointer;
  margin-left: 25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/close.png) no-repeat center center;
  background-size: cover;
}
.icon-menu {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background: url(../img/hamburger.png) no-repeat center center;
  background-size: cover;
}
